/*@CHARSET "UTF-8";
h1 {
	text-transform: lowercase;
	font-family:Helvetica;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0em;
	padding:0em;
	background:#F0F8FF; 
	font-size:100%;
	font-family:Helvetica;
}
#wrapper {
	width: 100%;
	height: 100%;
	margin: 0;

}

img {
	width:100%;
	height:auto;
	max-width:100%;
}

ul {
	margin: 0px;
	padding: opx;
}

li {
	list-style:square;
	font-family:Helvetica;
	font-weight:100;
	color:#2F2D2C;
	line-height:1.25em;
	margin:0em;
	padding:0em;
	margin:0.313em 0em 0.313em 0em;
}

a {
	text-decoration:none;
}
/*Top Bar*//*
#menubar {
	display:block;
	background:#F0F8FF;	
	height: 40px;
	text-align: center;
	font-family: Helvetica;
	font-size: 1em;
}

#menubaraside {
	background-color:#F0F8FF;
	right: 10px;
	position: absolute;
	padding: 10px;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#menubar img {
	display:none;
	width:auto;
	height:40px;
	left: 10px;
	position: absolute;
}

#menubar ul{
	display:block;
	width:2em;
	padding:0.2em;
}

#menubar ul li {
	display:inline;
}

#menubar ul li a.menubutton {
	display:none;
}

#menubar searchlogin {
	align:right;
}

/*HEADER PART*//*
#header {
	position: relative;
	width: 100%;
	/* max-height: 230px; */
	background-color: #F0F8FF;
}
#headerWrapper {
	position: relative;
	height:100%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
	/*Navigation Part*/
/* #mainMenu {
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
#navigation {
	height: 2.5em;
	padding: 0;
	margin: 0;
	width: 100%;
}
#navigation td {
	height:100%;
	line-height: 2.5em;
	padding: 0;
	background-color: black;
	color: white;
}
#navigation a {
	height: 100%;
	width: 100%;
	display: inline-block;
    text-decoration:none;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.125em;
}
#navigation a:hover {
	height: 100%;
	width: 100%;
	display: inline-block;
	text-align: center;
    text-decoration:none;
    vertical-align: middle;
    color: white;
    border:0;
    margin:0;
    background-color: rgba(255,255,255,0.3);
}

#navigation span {
	height: 100%;
	width: 100%;
	margin: 0.188em;
} */

/*Alternative navigation *//*
nav {
	display:block;
	height:2.25em;
	background:#F0F8FF;
	text-align:center;
}

nav ul {
	display:block;
}

nav ul li {
	display:inline-block;
	margin: 0em 0.188em 0em 0.188em;
}

nav ul li a {
	color:#454040;
	font-size: 1.125em;
	line-height: 2.5em;
	padding: 0.563em 0.938em 0.375em 0.983em;
	transition:background 0.2s;
	-webkit-transition:background 0.2s; 
}

nav ul li a:hover {
	background:#DBD9D8;
	border-bottom: 0.188em solid #E7590B;
}

/* Need to find out which page is active to highlight it on navigation via jquery for example*/
nav ul li a.active {
	border-bottom: 0.188em solid #E7590B;
}

/*CONTENT PART*//*
#websiteContent {
	width: 96%;
	max-width: 980px;
	height: auto;
	margin: 1.25em;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	background-color: rgba(255,255,255,1);
	
	
	border: 1px solid black;
	/* border-left: 1px solid black;
	border-right: 1px solid black; */
}

#websitecontent article {
	display:inline-block;
	width:90%;
	background:#FFFFFF;
	vertical-align: top;
	margin: 0em;
	padding: 0em;
	text-align: center;
	font-size:4em;
}

#websitecontent article img {
	max-width:560px;
	box-shadow:0px 0px 10px -5px #4c4948;
	border-radius:5px;
}

/*FOOTER PART*//*
#footer {
	width: 100%;
	height: 10%;
	background-color: #2E8B57;

}

#footerWrapper {
	position: relative;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}
#contact {
	position: absolute;
	bottom: 0;
}
/*CLASSES PART*//*
.standartColor{
	background-color: rgba(51,0,204,0.5);
}
.bottom{
	position: absolute;
	bottom: 0;
}

/* Mobile View *//*

@media screen and (max-width:800px) {
	body {
	font-size:90%
	}
}

@media screen and (min-width:600px) {
	nav.nav {
	display:block;
	}
}
/*
@media screen and (max-width:600px) {
	body {
	font-size:86%
	}
	#menubar ul li a.menubutton {
	display:block;
	}
	#menubar img {
	display:block;
	}
	nav {
	display:none;
	height:auto;
	}
	nav ul li {
	display:block;
	margin: 0.3em 0em 0.3em 0em;
	}
}

/*Zeilenumbruch im Menü *//*
@media screen and (max-width:1320px) {
	nav {
	height:4em;
	}
}
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

hmtl, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}
.navbar {
	padding: .8rem;	
}
.navbar-nav {
	padding-right: 1.25rem;
}
.nav-link {
	font-size: 1.1em !important;
}
.carousel-inner img {
	width:100%;
	height:100%
}
.carousel-caption {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
.carousel-caption h1 {
	font-size: 500%;
	text-transform:uppercase;
	text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
	font-size:2rem;
	font-weight:500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}
.btn-primary {
	background-color: #6648b1;
	border: 1px solid #6648b1;
}
.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;	
}
.jumbotron {
	padding: 1rem;
	border-radius: 0;
}
.padding {
	padding-bottom:2rem;
}
.welcome {
	padding-top: 2rem;
	width:75%;
	margin:0 auto;
}
.welcome hr {
	border-top:2px solid #b4b4b4;
	width: 95%;
	margin-top:0.3rem;
	margin-bottom:1rem;
}
.fa-code {
	color:#e54d26;
}
.fa-bold {
	color:#563d7c;
}
.fa-css3 {
	color:#2163af;
}
.fa-code, .fa-bold, .fa-css3 {
	font-size:4em;
	margin:1rem;
}
.hiddensection {
	width:100%;
	margin-bottom:2rem;
}
.gif {
	max-width:100%;
}
.social a {
	font-size:4.5em;
	padding:3rem;
}
.fa-facebook {
	color:#3b5998;
}
.fa-twitter {
	color:#00aced;
}
.fa-google-plus-g {
	color:#dd4b39;
}
.fa-instagram {
	color:#517fa8;
}
.fa-youtube {
	color:#bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover, 
.fa-instagram:hover, 
.fa-youtube:hover {
	color:#d5d5d5;
}
footer {
	background-color:#3f3f3f;
	color:#d5d5d5;
	padding-top:2rem;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width:75%;
	margin-top:0.8rem;
	margin-bottom:1rem;
}
hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width:100%;
	margin-top:0.8rem;
	margin-bottom:1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
	.social a {
		font-size:4em;
		padding:2rem;	
	}
}
@media (max-width: 768px) {
	.carousel-caption {
	top:45%
	}
	.carousel-caption h1 {
	font-size: 350%
	}
	.carousel-caption h3 {
	font-size:140%;
	font-weight:400;
	padding-bottom:0.2rem;
	}
	.carousel-caption .btn {
		font-size:95%;
		padding: 8px 14px;
	}
	.display-4 {
		font-size:200%;
	}
	.social a {
		font-size:2.5em;
		padding:1.2rem;
	}
}
@media (max-width: 576px) {
	.carousel-caption {
	top:40%
	}
	.carousel-caption h1 {
	font-size: 250%
	}
	.carousel-caption h3 {
	font-size:110%;
	}
	.carousel-caption .btn {
		font-size:90%;
		padding: 4px 8px;
	}
	.carousel-inditcators {
		display:none;
	}
	.display-4 {
		font-size:160%;
	}
	.social a {
		font-size:2em;
		padding:0.7rem;
	}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
