<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WIP_shop_dynamic</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetProducts</servlet-name>
    <servlet-class>functions.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProducts</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>functions.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>functions.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>functions.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/Logout</url-pattern>
  </servlet-mapping>
</web-app>