<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WIP_shop_dynamic</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

<!-- Servlet Mapping -->
<servlet>
	
  	<servlet-name>GetProducts</servlet-name>
  	
<!-- Servlet class found by package.servlet name -->
  	<servlet-class>functions.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping> 
  	<servlet-name>GetProducts</servlet-name> 
  	
<!-- On which sides the servlet could be call -->
  	<url-pattern>/WIP_shop_dynamic/*</url-pattern> 
  </servlet-mapping>
</web-app>