<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WIP_shop_dynamic</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetCourses</servlet-name>
    <servlet-class>courseFunctions.GetCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourses</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>functions.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCourse</servlet-name>
    <servlet-class>courseFunctions.CreateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourse</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/CeateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayCourseDetails</servlet-name>
    <servlet-class>courseFunctions.DisplayCourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCourseDetails</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/DisplayCourseDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PutInCart</servlet-name>
    <servlet-class>cartFunctions.PutInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutInCart</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/PutInCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCart</servlet-name>
    <servlet-class>cartFunctions.GetCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCart</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourseFromCart</servlet-name>
    <servlet-class>cartFunctions.DeleteCourseFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseFromCart</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/DeleteCourseFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookCourses</servlet-name>
    <servlet-class>cartFunctions.BookCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCourses</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/BookCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmOrderCourses</servlet-name>
    <servlet-class>cartFunctions.ConfirmOrderCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderCourses</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/ConfirmOrderCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>profile.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/GetProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>profile.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/WIP_shop_dynamic/*/UpdateProfile</url-pattern>
  </servlet-mapping>
</web-app>